<div class="container-fluid ">
  <h2>#<%= "#{@task.id}  #{@task.subject}" %></h2>

  <div class="well">
    <%= link_to 'Edit',edit_task_path(@task.id),style: 'float:right;'%>
    <div class="field">
        <% avatar = @task.author.avatar rescue 'profile.png' %>
        <%= image_tag avatar,style: 'height:42px;width:42px;', classs: 'col-sm-1'%>
        Added By <%= @task.author.name rescue ''%> <%= link_to time_ago_in_words(@task.created_at),'#',:title => @task.created_at%> ago.
    </div><br/>

    <dl class="dl-horizontal">
      <dt>Status:</dt>
      <dd><%= @task.status.name%></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Description:</dt>
      <dd><%= @task.description%></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Assignee:</dt>
      <dd><%= @task.assigned_to.name rescue '' %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>Start Date:</dt>
      <dd><%= @task.start_date%></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt>End Date:</dt>
      <dd><%= @task.end_date%></dd>
    </dl>

    <p class="field"><br/>
        <%= link_to 'Back', tasks_path,class: 'col-sm-1' %>
    </p>
  </div>

</div>
