<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'jquery.dataTables.min'%>
  <%= stylesheet_link_tag 'dataTables.bootstrap.min'%>
  <%= stylesheet_link_tag 'responsive.bootstrap.min'%>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.12.4' %>
  <%= javascript_include_tag 'jquery-ui'%>
  <%= javascript_include_tag 'jquery.dataTables.min'%>
  <%= javascript_include_tag 'dataTables.bootstrap.min'%>
  <%= javascript_include_tag 'dataTables.responsive.min'%>
  <%= javascript_include_tag 'responsive.bootstrap.min'%>

  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid" >
  <div style="float: right;">
    <% if user_signed_in? %>
        <div>
          <%= link_to edit_user_registration_path do %>
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar,:title => "Edit Profile",:style=>"height: 42px;width: 42px;border-radius:50%;" %>
              <% else %>
                <%= image_tag "profile.png",:title => "Edit Profile",:style=> "height: 42px;width: 42px;border-radius:50%;" %>
              <% end %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do  %>
            <%= image_tag "logout.png",:title => "Logout",:style=> "height: 42px;width: 42px;border-radius:50%" %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div>
    <%= image_tag "download.png", :style=>"width:10%"%>
  </div></br>
</div></br>

    <ul id="menu">
      <% begin %>
          <% if current_user.admin%>
              <li id="menu_li"><%= link_to "Administration",admin_path %></li>
          <% end %>
      <% rescue %>
      <% end %>
      <% if user_signed_in? %>
          <li id="menu_li"><%= link_to "Tasks", tasks_path %></li>
          <li id="menu_li"><%= link_to "New Task" ,new_task_path%></li>
      <% else %>
         <li id="menu_li"><%= link_to "Sign up", new_user_registration_path %></li>
         <li id="menu_li"><%= link_to "Login", new_user_session_path %></li>
      <% end %>

      <li id="menu_li"><%= link_to 'Home',root_path %></li>
    </ul><br>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

<%= yield %>
</body>


</html>

<style>
    #menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #menu_li {
        float: right;
    }

    #menu_li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #menu_li a:hover {
        background-color: #111;
    }

    p {
        margin: 0 0 10px;
    }
    .pull-right{
        float: right !important;
    }

    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar-text {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #menu_li a:hover{
        background-color:#1B3E70;
        color:white;
    }
    #menu_li .active{
        background-color:#1B3E70;
        color:white;

    }
    .perfect-centering {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

</style>

<script>
    $(document).ready(function(){
        $('#datatable').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [ {
                className: 'control',
                orderable: false,
                targets:   0
            } ],
            order: [ 1, 'asc' ],
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [ -1 ]
                }
            ]
        });
        $('#menu_li a').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
        });
    });


</script>